.footer {
    background-color:#020A0C ;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-footer{
    max-width: 1000px;
    margin: 0 auto;
}
.footer__title {
    color: #fff;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 111.111% */
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 60px;
    text-align: center;
}
.footer__phone {
    color: #fff;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 111.111% */
    letter-spacing: 1px;
    /* text-transform: uppercase; */
    margin-bottom: 20px;
    text-align: center;
}
.footer__mail {
    color: #fff;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 111.111% */
    letter-spacing: 1px;
    /* text-transform: uppercase; */
    margin-bottom: 20px;
    text-align: center;
}
.footer__adress {
    color: #fff;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 111.111% */
    letter-spacing: 1px;
    /* text-transform: uppercase; */
    margin-bottom: 55px;
    text-align: center;
}
.footer__logo {
    color: #fff;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 111.111% */
    letter-spacing: 1px;
    text-transform: uppercase;
    
}
.footer-soc{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.footer-soc__item {
    background-color: #fff;
    border-radius: 100px;
    padding: 8px;
}

.footer-soc__img {
    width: 22px;
}
