.first {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.first__body {
    position: relative;
    z-index: 2;
    /* display: flex; */
    flex: 1 1 auto;
    justify-content: left;
    align-items: left;
    /* flex-direction: column; */
    background-color: #ffffff;
    border-radius: 15px;
    padding: 50px;
    opacity: 0.8;
    margin-top: 260px;
    
}
.first__body-title {
    color: #020A0C;
    font-family: Roboto;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
    margin-bottom: 59px;
}
.first__body-text {
    color: #020A0C;
    font-family: Roboto;
    font-size: 49px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px; /* 122.449% */
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 200px;
}
.first__body-write {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 16px;
    padding-left: 16px;
    border-radius: 40px;
    border: 1px solid #000;
    background: #000;
    color: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 140% */
    text-transform: uppercase;
    margin-right: 10px;
}
.first__body-call {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 16px;
    padding-left: 16px;
    border-radius: 40px;
    border: 1px solid #000;
    background: #FFF;
    color: #020A0C;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 140% */
    text-transform: uppercase;
}
.first__body-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ------------------------------ABOUT------------------------- */
.about {
    padding-top: 50px;
    padding-bottom: 50px;
}
.about__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about__left {
}
.about__left-img {
    width: 560px;
    height: 660px;
    border-radius: 10px;
    transition: transform 0.4s;
}

.about__left-img:hover{
    transform: scale(1.1);
    transition: transform 0.5s;
}

.about__right {
    background-color: #020A0C;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;
}
.about__right-title {
    color: #fff;
    text-align: center;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px; /* 120% */
    text-transform: uppercase;
    margin-bottom: 48px;
}
.about__right-text {
    width: 500px;
    color: #fff;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 141.176% */
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 40px;
}
/* -----------------------GREATER------------------- */
.greater {
    background-color: #020A0C;
    padding-top: 60px;
    padding-bottom: 60px;
}
.greater__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 0;
}
.greater__block-card {
    background-color: #fff;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* margin-right: 5px; */
}
.greater__block-card-img {
    margin-bottom: 20px;
    
}
.greater__block-card-title {
    color: #020A0C;
    font-family: Roboto;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 24.7px; /* 130% */
    width: 150px;
    text-align: center;
}
/* -------------------SWIPER------------------------- */
.swiper{
    width: 100%;
    height: 100%;
    background-color: #020A0C;
    padding-top: 10px !important;
}
.swiper__title{
    color: #fff;
    text-align: center;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px; /* 120% */
    text-transform: uppercase;
}
.swiper-pagination-bullet-active{
    background: #020A0C !important;
}
.swiper-pagination-bullet{
    background: #fff !important;
}

.swiper-slide{
    display: flex !important;
    padding-top: 30px;
    padding-bottom: 70px;
    margin-left: 12px;
}

/* ---------------------WINDOW----------------------- */
.window {
    padding-top: 50px;
    padding-bottom: 50px;
}
.window__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.window__left {
    background-color: #020A0C;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;
}
.window__left-title {
    color: #fff;
    text-align: center;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px; /* 120% */
    text-transform: uppercase;
    margin-bottom: 48px;
}
.window__left-text {
    width: 500px;
    color: #fff;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 141.176% */
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.window__right{

}
.window__right-img {
    width: 560px;
    height: 660px;
    border-radius: 10px;
    transition: transform 0.4s;
}

.window__right-img:hover{
    transform: scale(1.1);
    transition: transform 0.5s;
}

/* ---------------------CATALOG-------------------------- */

.catalog {
    padding-top: 20px;
    background-color: #020A0C;
}

.catalog__title{
    color: #fff;
    text-align: center;
    font-family: Roboto;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px; /* 120% */
    text-transform: uppercase;
}
.catalog__text{
    color: #fff;
    text-align: center;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 72px; /* 141.176% */
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.catalog-row {
    display: flex;
    
    justify-content: space-between;
}
.catalog-left {
}
.catalog-card {
    text-align: center;
    margin-bottom: 80px;
    
    
}
.catalog-card__img {
    border-radius: 10px;
    width: 360px;
    height: 400px;
    transition: transform 0.4s;
    
}
.catalog-card__img:hover{
    transform: scale(1.1);
    transition: transform 0.5s;
}
.catalog-card__text {
    margin-top: 30px;
    color: #fff;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 136.364% */
    text-transform: uppercase;
}
.catalog-right {
}

.furnitura{
    margin-top: -30px;
}
/* ---------------WORKS---------------- */
.works {
    
}
.works__big {
    content: '';
    position: relative;
    background-image: url('/images/works/photo.jpg');
    
}
.works__big-title {
    padding-top: 1000px;
}
.works__big-text {
}
/* --------MAP--------------- */
.map-karta{
    border-radius: 20px;
    background-color: #020A0C;
    padding: 6px;
}
.map{
    padding-bottom: 40px;   
    
}
.map-title{
    color: #020A0C;
    text-align: center;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px; /* 120% */
    text-transform: uppercase;
}
/* --------------CALC-------------- */
.calc {
    padding-top: 10px;
    padding-bottom: 30px;
}
.calc-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.calc__left {
}
.calc__left-img {
    width: 300px;
}
.calc__right-width {
    background-color: #fff;
    color: #020A0C;
    font-size: 20px;
    border-radius: 10px;
    padding-left: 8px;
    margin-bottom: 10px;
}
.calc__right-height {
    background-color: #fff;
    color: #020A0C;
    font-size: 20px;
    border-radius: 10px;
    padding-left: 8px;
    display: block;
}


.calc__right {
    background-color: #020A0C;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;
}
.calc__right-parametrs{
    color: #fff;
    font-family: Roboto;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 136.364% */
    text-transform: uppercase;
    margin-bottom: 20px;
}
.calc__right-title {
    font-size: 20px;
    color: #fff;
    margin-top: 20px;
}

.calc__right-cveta {
    
}

.calc__right-text {
    display: block;
    color: #fff;
}

.calc__right-res{
    color: #fff;
    margin-top: 10px;
    font-size: 100px;
}


