.first {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.first__left {
    width: 50%;
    margin-right: 59px;
}
.first__left-img {
    width: 953px;
    
}
.first__right {
    width: 50%;
    
}


.first__right-title {
    color: #000;
    font-family: Roboto;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
    margin-bottom: 59px;
    margin-top: 260px;
}
.first_-right-text {
    color: #000;
    font-family: Roboto;
    font-size: 49px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px; /* 122.449% */
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 200px;
}
.first__right-write {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 16px;
    padding-left: 16px;
    border-radius: 40px;
    border: 1px solid #000;
    background: #000;
    color: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 140% */
    text-transform: uppercase;
    margin-right: 10px;
}
.first__right-call {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 16px;
    padding-left: 16px;
    border-radius: 40px;
    border: 1px solid #000;
    background: #FFF;
    color: #020A0C;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 140% */
    text-transform: uppercase;
}

/* ------------------------------ABOUT------------------------- */
.about {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    

}
.about__left {
    margin-right: 90px;
}
.about__left-img {
    width: 560px;
    height: 660px;
    border-radius: 10px;
    
    
}
.about__right{
    /* margin-left: 25px; */
    
}
.about__right-block {
    background-color: #020A0C;
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 30px;
    padding-left: 30px;
}
.about__right-block-title {
    color: #fff;
    text-align: center;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px; /* 120% */
    text-transform: uppercase;
    margin-bottom: 48px;
}
.about__right-block-text {
    width: 500px;
    color: #fff;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 141.176% */
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.about__right-block-text:last-child {
    margin-bottom: 0px;
}
/* -----------------------GREATER------------------- */
.greater {
    background-color: #020A0C;
    padding-top: 60px;
    padding-bottom: 60px;
}
.greater__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 0;
}
.greater__block-card {
    background-color: #fff;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 5px;
}
.greater__block-card-img {
    margin-bottom: 20px;
    
}
.greater__block-card-title {
    color: #020A0C;
    font-family: Roboto;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 24.7px; /* 130% */
    width: 150px;
    text-align: center;

}

.swiper{
    width: 100%;
    height: 100%;
    background-color: #020A0C;
}
.swiper-wrapper{
    
}

.swiper-slide{
    display: flex !important;
}

