@media (max-width: 1250px){
    .header-row {
        margin-inline: 20px;
    }
    .header__menu {
        display: none;
    }

    .header-soc{
        display: none;
    }  
        
    .burger {
        display: block;
    }
}